<h1 class="animated fadeIn"> Heroes <small> Marvel y DC</small></h1>
<hr>

<div class="card-columns">

  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let k = index">
    <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
      <img *ngIf="heroe.casa=='Marvel'"class="img-logo" src="assets/img/marvel.png" alt="Marvel">
      <img *ngIf="heroe.casa=='DC'"class="img-logo" src="assets/img/dc.png" alt="DC">
    </div>
